<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="fas fa-edit"></i>
            <p>فرم ها<i class="right fas fa-angle-left"></i></p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/home/schedule" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>درج زمانبندی حضور ماهانه </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/home/newentrance" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>ثبت زمان ورد و خروج  </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/home/baseamount" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>ثبت مبلغ پایه استاد </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/home/researchcouncil" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>تشکیل شورای پژوهشی</p>
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="fas fa-copy"></i>
            <p>گزارشات<i class="right fas fa-angle-left"></i></p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/home/presenceinweek" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>میزان حضور هفتگی</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/home/presenceinmonth" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>میزان حضور ماهیانه</p>
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="fas fa-plus-square"></i>
            <p>مدیریت دسترسی ها<i class="right fas fa-angle-left"></i></p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/user/index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>مدیریت کاربران</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/user/rolemanagement" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>مدیریت نقش ها</p>
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="fas fa-plus-square"></i>
            <p>تقویم<i class="right fas fa-angle-left"></i></p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/home/holidays" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>تعطیلات</p>
                </a>
            </li>
        </ul>
    </li>
</ul>