@model Wage.Web.DTOs.ResetPasswordDto;
@using Wage.Core.Entities;
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section Styles{
    <style>
        .panel {
            height: 550px;
        }
    </style>
}
<div class="panel">
    <div class="col-12 text-center mt-5 mb-5"><h5>فرم فراموشی رمز عبور</h5></div>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "frmResetPassword" }))
    {
        @Html.AntiForgeryToken()
        <div class="formset">
            <input type="hidden" id="Token" name="Token" value="@Model?.Token" />
            <div class="form-group">
                <lable class="form-label">ایمیل</lable>
                <input class="form-control" type="text" id="UserName" name="UserName" value="@Model?.UserName">
            </div>
            <div class="form-group">
                <lable class="form-label">کلمه عبور</lable>
                <input class="form-control" type="text" id="Password" name="Password">
            </div>
            <div class="form-group">
                <lable class="form-label">تکرار کلمه عبور </lable>
                <input class="form-control" type="password" id="ConfirmPassword" name="ConfirmPassword">
            </div>
            <input class="btn" type="submit" value="ثبت" />
        </div>
    }

    <div class="row col-12">
        <div class="col-6 text-sm-left"></div>
        <div class="col-6 text-sm-left"><h6><a href="/Account/Login">هدایت به صفحه لاگین</a></h6></div>
    </div>
    <div class="col-12 messages">
        @{
            var responseModel = (ResponseAPI<string>)ViewData["response"];
            if (responseModel != null)
            {
                if (!responseModel.Success && !string.IsNullOrEmpty(responseModel?.Message))
                {
                    <div id="msgError" class="alert alert-danger text-center">
                        <h5>@responseModel.Message</h5>
                    </div>
                }

                if (responseModel.Success && !string.IsNullOrEmpty(responseModel?.Message))
                {
                    <div id="msgSuccess" class="alert alert-success text-center">
                        <h5>@responseModel.Message</h5>
                    </div>
                }
            }
        }
    </div>


</div>


@section Scripts{
    <script>

        $('.form-control').on('focus', function () {
            $(this).removeAttr('style');
            $(this).closest('.form-group').addClass('focus');
        });

        $('.form-control').on('focusout', function () {
            $('.form-group').removeClass('focus');
        });

        /// Input Kepress Filled  Focus
        $('.form-control').on('keyup', function () {
            if ($(this).val().length > 0) {
                $(this).closest('.form-group').addClass('filled');
            } else {
                $(this).closest('.form-group').removeClass('filled');
            }
        });


        $("#frmResetPassword").submit(function (event) {
            debugger
            var isValaid = true;
            var emailPattern = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            let $Token = $('#token'), $userName = $('#UserName'), $pass1 = $('#Password'), $pass2 = $('#ConfirmPassword');
            $messages = $('#messages').html('').html("<div class=\"alert alert-danger text-center\"><h5>کاربرگرامی شما مجاز به انجام عملیات تغییر کلمه عبور نمی باشید</h5></div>");
            if ($Token.val() == '') {
                $messages.fadeIn();
                setTimeout(function () {
                    $messages.fadeOut('slow');
                }, 5000);

                isValaid = false;
            }
            if ($userName.val() == '') {
                $userName.css({ 'border-bottom': '2px solid red' });
                isValaid = false;
            }
            if (!emailPattern.test($userName.val())) {
                $userName.css({ 'border-bottom': '2px solid red' });
                isValaid = false;
            }
            if ($pass1.val() == '') {
                $pass1.css({ 'border-bottom': '2px solid red' });
                isValaid = false;
            }
            if ($pass2.val() == '') {
                $pass2.css({ 'border-bottom': '2px solid red' });
                isValaid = false;
            }
            if ($pass1.val() != $pass2.val()) {
                $fname.css({ 'border-bottom': '2px solid red' });
                isValaid = false;
            }

            if (!isValaid) {
                event.preventDefault();
                return false;
            }
        });


    </script>
}


